body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
.container {
    max-width: 600px;
    padding: 20px;
    float: right;
    margin-left: 20%;
    padding-top: 20%;
    margin-right: 20%;
    background-color: #fff;
    
    
}

h2 {
    text-align: center;

}
h4 {
    text-align: center;
}
.button {
    display: block;
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 10px;
    font-size: 16px;
    text-align: center;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.button.facebook {
    background-color: #3b5998;
    color: #fff;
}
.button.google {
    background-color: #fff;
    color: black;
}

body {
    /*background-image: url('img/imgfundo.jpg');
    background-size: cover; /* Ajusta o tamanho da imagem para cobrir todo o espaço disponível */
    /*background-repeat: no-repeat;
    background-position: center; /* Centraliza a imagem */
    /*padding: 50px; /* Adiciona um espaçamento interno para evitar que o conteúdo encoste nas bordas da imagem */
    
}




